[project]
name = "simple-tsp"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy>=2.3.5",
    "pandas>=2.3.3",
    "pillow>=12.0.0",
    "plotnine>=0.15.2",
]

[dependency-groups]
dev = [
    "ruff>=0.14.9",
]
